body {
    background-color: rgb(21, 24, 15);
}
h1 {
    color: gold;
    font-size: 48px;
    text-align: center;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1;

}
.webgl {
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;

}
.essay {
    color: white;
    font-size: 24px;
    width: 100%;
}
.clickable{
    color: gold;
    cursor: grab;

}
.clickable:hover {
    color: rgb(255, 0, 157);
}