h1, h2 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}